
.Territory{
  background-color: rgb(133, 255, 133);
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  cursor:pointer;
  justify-content: center;
  align-items: center;
}
.Territory:hover{
  background-color: rgb(96, 193, 96);
}

.Territory > .Name{
  font-size: calc((0.9vmin) + (0.9vmax));
  font-weight: bolder;
  color:rgb(87, 87, 87);
}
.Territory > .Armies{
  font-size: calc((0.9vmin) + (0.9vmax));
  font-weight: bolder;
  color:rgb(87, 87, 87);
}
.Territory > .Armies > .Amount{
  padding:2vh;
}
.Territory > .Armies > .Increase{
  padding:2vh;
  border:solid rgb(87, 87, 87) 2px;
}
.Territory > .Armies > .Decrease{
  padding:2vh;
  border:solid rgb(87, 87, 87) 2px;
}
